/* 为防止用微信运行时footer按钮失效，设置一个与屏幕同等大小的外框，其内部信息相对于外框做定位*/
.main_wrapper{
    position:absolute;
    /* 技巧：人为拉伸到浏览器大小 */
    left:0;
    right:0;
    top:0;
    bottom:0;
}
 
/* 顶部样式 */
.header{
    height: 2.5rem;
    background-color: #37ab40;
}

.logo{
    display: block;
    height: 1.775rem;
    width: 4.45rem;
    margin:0.35rem auto;
    position:relative;
}

.logo img{
    width: 100%;
}

.search{
    height: 1.35rem;
    width: 1.35rem;
    position:absolute;
    right:0.75rem;
    top: 0.6rem;
    background: url(../images/icons.png) 0 0 no-repeat;
    background-size: 3rem 42rem;
}


/* 中间滚动区域样式 */
.center_con{
    position:absolute;
    /* 技巧：用定位设置container大小 */
    left:0;
    right:0;
    top:2.5rem;
    bottom:2.5rem;
    background-color: #efefef;
    /* 技巧：只出现纵向滚动条 */
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: .5rem;
}

.slide{
    height: 7.0rem;
}

.slide img{
    width: 100%;
}

.menu_con{
    height: 9.25rem;
    background-color: #fff;
    margin-top: 0.5rem;
    overflow: hidden; 
}

.menu_con ul{
    width:18rem;
    height: 8.375rem;
    margin: 0.6rem 0 0 1.375rem;
}

.menu_con li{
    width: 2.8rem;
    height: 4.05rem;
    float: left;
    margin-right: 1.625rem;
    text-align: center;
    font-size:13px;
    color: #666;
}

.menu_con li a{
    display: block;
    height: 2.8rem;
    background: url(../images/icons.png) 0 -3rem no-repeat;
    background-size: 3rem 42rem;
}

.menu_con li:nth-child(2) a{
    display: block;
    height: 2.8rem;
    background: url(../images/icons.png) 0 -6rem no-repeat;
    background-size: 3rem 42rem;
}
.menu_con li:nth-child(3) a{
    display: block;
    height: 2.8rem;
    background: url(../images/icons.png) 0 -9rem no-repeat;
    background-size: 3rem 42rem;
}
.menu_con li:nth-child(4) a{
    display: block;
    height: 2.8rem;
    background: url(../images/icons.png) 0 -12rem no-repeat;
    background-size: 3rem 42rem;
}
.menu_con li:nth-child(5) a{
    display: block;
    height: 2.8rem;
    background: url(../images/icons.png) 0 -15rem no-repeat;
    background-size: 3rem 42rem;
}
.menu_con li:nth-child(6) a{
    display: block;
    height: 2.8rem;
    background: url(../images/icons.png) 0 -18rem no-repeat;
    background-size: 3rem 42rem;
}
.menu_con li:nth-child(7) a{
    display: block;
    height: 2.8rem;
    background: url(../images/icons.png) 0 -21rem no-repeat;
    background-size: 3rem 42rem;
}
.menu_con li:nth-child(8) a{
    display: block;
    height: 2.8rem;
    background: url(../images/icons.png) 0 -24rem no-repeat;
    background-size: 3rem 42rem;
}

.common_model{
    height: 17.25rem;
    background-color: #fff;
    margin:0.5rem 0 0;
    
}

.common_title{
    width: 17.75rem;
    height: 0.9rem;
    margin:0.8rem auto 0;
}

.common_title h3{
    float: left;
    font:bold 15px/0.9rem "microsoft Yahei";
    color:#fbc83d;
    border-left:0.25rem solid #fbc83d;
    padding-left:0.4rem;
}

.common_title a{
    float: right;
    font:bold 12px/0.9rem "microsoft Yahei";
    color: #7f7f7f;
}

.banner{
    display: block;
    width: 17.75rem;
    height: 4.5rem;
    margin: .5rem auto 0;
}

.banner img{
    height: 100%;
}

.good_list{
    width: 17.75rem;
    height: 9.325rem;
    margin: .5rem auto 0;
}

.goods_list li{
    box-sizing: border-box;
    float: left;
    width: 5.9rem;
    height: 9.325rem;
    background-color: #fff;
    border-right: 1px solid #e7e7e7;
    position: relative;
}

.goods_list li:last-child{
    border-right:0px;
}

.goods_link{
    display: block;
    height: 4.5rem;
    width: 4.5rem;
    margin: .375rem auto 0;
}

.goods_link img{
    width: 100%;
}

.goods_list h4{
    width: 5rem;
    font:normal 15px/15px "microsoft Yahei";
    color: #666;
    margin: .925rem auto 0;
    /* 文字超出时变省略号： */
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.goods_list .unit{
    width: 5rem;
    font:normal 12px/12px "microsoft Yahei";
    color: #bbb;
    margin: .8rem auto 0;
}

.goods_list .price{
    width: 5rem;
    font:normal 12px/12px "microsoft Yahei";
    color: #ff4400;
    margin: .5rem auto 0;
}

.add_chart{
    width: 1.7rem;
    height: 1.7rem;
    position: absolute;
    right:.675rem;
    bottom:0;
    background: url(../images/icons.png) 0 -27rem no-repeat;
    background-size: 3rem 42rem;
}




/* 底部样式 */
.footer{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    height: 2.5rem;
    border-top:0.1px solid rgb(238, 238, 238);
}

.footer li{
    width: 25%;
    height: 2.5rem;
    float: left;
}

.footer li a{
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    margin: .35rem auto 0;
    background: url(../images/icons.png) 0 -30rem no-repeat;
    background-size: 3rem 42rem;
}

.footer li:nth-child(2) a{
    background: url(../images/icons.png) 0 -33rem no-repeat;
    background-size: 3rem 42rem;
}

.footer li:nth-child(3) a{
    background: url(../images/icons.png) 0 -36rem no-repeat;
    background-size: 3rem 42rem;
}

.footer li:nth-child(4) a{
    background: url(../images/icons.png) 0 -39rem no-repeat;
    background-size: 3rem 42rem;
}

.footer li h2{
    font:normal 12px/0.8rem "microsoft Yahei";
    color: #bbb;
    text-align: center;
}

/* 更改swiper库中幻灯片默认属性：左右箭头 */
.swiper-button-next,.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 14px;
    height: 22px;
    margin-top: -11px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 14px 22px;
    background-position: center;
    background-repeat: no-repeat
}

/* 更改swiper库中幻灯片默认属性：小圆点颜色 */
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #ff8800;
}

.swiper-pagination{
    text-align: right;
}

.swiper-container-horizontal>.swiper-pagination span:last-child{
    margin-right:20px;
}